{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {}
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@import/no-named-as-default-member": "off",
    "@typescript-eslint/no-inferrable-types": "off"
  }
}
